$spacing: 24px;
$font-color: rgb(51, 59, 64);
$font-size-normal: 16px;

$color-1a: #d5ecff;
$color-3: #67717e;
$color-3a: #e1e3e5;
$color-7c: #1e45af;
$color-15: #eaeaea;
$color-16: #f5f5f5;

$backdrop-color: rgba(0,0,0,0.4);
$border-radius: 5px;

$margin-top: 64px;
$sidebar-width: 15%;

$navbar-default-bg: #f8f8f8;
$navbar-default-border: #e7e7e7;
$topbar-height: 64px;
$topbar-margin-left: 50px;
$topbar-margin-right: 30px;

$nav-bar-width: 15%;
$nav-default-bg: #f8f8f8;

$gutter: 30px;
$default-padding: 15px;
